<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <title>Tus tarjetas</title>
</head>

<body class="h-screen w-screen overflow-x-hidden bg-slate-50 transition ease-in-out duration-500">

  <div class="h-screen w-screen fixed z-50 bg-slate-50 flex justify-center items-center preloaded">
    <div class="loadingio-spinner-rolling-a0brll2sk18">
      <div class="ldio-lfdg8ky8s88">
        <div></div>
      </div>
    </div>
  </div>

  <div id="app">

    <nav class="navbar flex right-2">

      <ul class="sm:visible invisible font-medium top-4 fixed flex flex-wrap rounded text-xl items-center">
        <a v-show="!switchNightMode" href="#"> <img src="./assets/logo.png" alt="logo" class="h-8 ml-5 mt-1"></a>
        <a v-show="switchNightMode" href="#"> <img src="./assets/night_logo.png" alt="night_logo"
            class="h-8 ml-5 mt-1"></a>
        <li class="py-1 ml-2 hover:text-slate-400 hover:translate-y-1 transition ease-in-out duration-500 text-night">
          <a href="./accounts.html" class="p-4"> inicio </a>
        </li>
        <li class="py-1 hover:text-slate-400 hover:translate-y-1 transition ease-in-out duration-500 text-night">
          <a href="./payment.html" class="p-4"> realizar pago </a>
        </li>
      </ul>

      <div class="sm:invisible visible flex flex-col ml-2 fixed top-1">
        <button @click="showToggle"
          class="self-start border-4 my-1 px-2 rounded-md text-2xl menu-night transition ease-in-out duration-500">
          <i class="fas fa-bars"></i>
        </button>
        <div
          class="nav-menu invisible opacity-0 rounded-md text-md border-4 night_border-slate-600 transition ease-in-out duration-500">
          <ul>
            <li
              class="hover:bg-slate-600 py-1 night_text-slate-600 night_bg-white hover:text-white transition ease-in-out duration-500">
              <a href="./accounts.html" class="p-4"> inicio </a>
            </li>
            <li
              class="hover:bg-slate-600 py-1 night_text-slate-600 night_bg-white hover:text-white transition ease-in-out duration-500">
              <a href="./payment.html" class="p-4"> realizar pago </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="flex flex-col fixed sm:top-3 top-1 sm:right-5 right-1">
        <button @click="showUser"
          class="self-end my-1 px-2 rounded-full text-2xl transition border-4 ease-in-out duration-500 menu-night">
          <i class="fas fa-user"></i>
        </button>
        <div
          class="mt-1 nav-menu-user invisible right-400 opacity-0 rounded-md border-4 night_border-slate-600 text-center transition ease-in-out duration-500 animation ">
          <ul>
            <li class="px-5 pt-2 text-5xl night_bg-slate-600 text-white font-medium">
              <i class="fas fa-user"></i>
            </li>
            <li class="px-3 text-md night_bg-slate-600 text-white font-semibold">
              {{client.firstName}} {{client.lastName}}
            </li>
            <li class="text-sm px-2 pb-2 night_bg-slate-600 text-white">
              {{client.email}}
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./accounts.html" class="p-3">Cuentas</a>
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./cards.html" class="p-3">Tarjetas</a>
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./transactions.html" class="p-3">Transacciones</a>
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./loans.html" class="p-3">Prestamos</a>
            </li>
            <li>
              <button @click="signOut"
                class="p-2 w-full border-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-red-400 transition ease-in-out duration-500"
                type="button">Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </div>

      <div id="nightMode" class="z-30 sm:top-3 top-1 fixed sm:right-20 right-16">
        <button v-show="!switchNightMode" @click="activeNightMode"
          class="border-4 border-sky-500 my-1 px-2 rounded-full text-2xl text-sky-500 bg-white hover:bg-sky-500 hover:text-white transition ease-in-out duration-500">
          <i class="fas fa-moon"></i>
        </button>

        <button v-show="switchNightMode" @click="activeNightMode"
          class="z-50 border-4 border-emerald-400 my-1 px-2 rounded-full text-2xl text-emerald-400 hover:bg-emerald-400 hover:text-white transition ease-in-out duration-500">
          <i class="fas fa-sun"></i>
        </button>
      </div>

    </nav>

    <main class="flex flex-col items-center h-screen w-screen">

      <section
        class="overflow-x-hidden set-card rounded overflow-auto mt-36 sm:mt-16 sm:mr-3 border bg-white bg-night shadow w-9/12 sm:w-7/12">
        <select v-model="selectCard" v-on:change="loadData()"
          class="animation font-semibold night_text-sky-to-white text-center text-4xl focus:outline-none mx-1 sm:mx-0 w-full bg-night">
          <option class="text-base" value="all">
            <h1>Tus tarjetas</h1>
          </option>
          <option class="text-base" value="CREDIT">Credito</option>
          <option class="text-base" value="DEBIT">Debito</option>
        </select>

        <template v-for="(card, index) in cards">

          <template v-if="card.type == 'CREDIT' && (selectCard == 'all'|| selectCard == 'CREDIT')">
            <div
              class="card flex align-left p-3 border-t bg-night text-night-white text-slate-500 justify-between w-full">
              <p class="p-3 w2/6 font-medium" v-cloak> {{card.color}} </p>
              <div>
                <button @click="showCard(index)"
                  class="rounded-lg border-2 night_text-slate-to-emerald night_border-slate-to-emerald night_hover-bg-slate-to-emerald hover:text-white p-2 mx-2 font-semibold focus:ring-2 focus:ring-emerald-200 focus:outline-none transition ease-in-out duration-500"
                  type="button">
                  Visualizar
                </button>
                <button @click="deleteCard(card.id)"
                  class="rounded-lg border-2 border-red-400 hover:bg-red-400 p-2 text-red-400 hover:text-white font-semibold focus:ring-2 focus:ring-emerald-200 focus:outline-none transition ease-in-out duration-500"
                  type="button"> <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </template>

          <template v-if="card.type == 'DEBIT' && (selectCard == 'all'|| selectCard == 'DEBIT')">
            <div
              class="card flex align-left p-3 border-t bg-night text-night-white text-slate-500 justify-between w-full">
              <p class="p-3 w2/6 font-medium" v-cloak> {{card.color}} </p>
              <div> <button @click="showCard(index)"
                  class="rounded-lg border-2 night_text-slate-to-emerald night_border-slate-to-emerald night_hover-bg-slate-to-emerald hover:text-white mx-2 p-2 font-semibold focus:ring-2 focus:ring-red-200 focus:outline-none transition ease-in-out duration-500"
                  type="button">
                  Visualizar
                </button>
                <button @click="deleteCard(card.id)"
                  class="rounded-lg border-2 border-red-400 hover:bg-red-400 p-2 text-red-400 hover:text-white font-semibold focus:ring-2 focus:ring-emerald-200 focus:outline-none transition ease-in-out duration-500"
                  type="button"> <i class="fas fa-trash"></i>
                </button>
              </div>
            </div>
          </template>

        </template>

        <p v-show="cards.length < 6" class="p-3 border-t text-center text-night-white animation"><a
            href="./create-cards.html">Agregar tarjeta <i class="fas fa-plus"></i></a></p>

      </section>

      <template v-if="arrayShowCard.length">
        <section class="w-full min-h-screen flex justify-center items-center animation fixed" @click="hideCard()">

          <div class="sm:w-96 w-72 h-64  cursor-pointer absolute">
            <div class="w-full relative h-full p-5">
              <template v-if="arrayShowCard[0].color == 'GOLD'">
                <img class="w-full h-full absolute left-0 top-0 rounded-xl shadow" src="./assets/tarjeta_gold_back.png"
                  alt="tarjeta_gold">
              </template>
              <template v-if="arrayShowCard[0].color == 'TITANIUM'">
                <img class="w-full h-full absolute left-0 top-0 rounded-xl shadow"
                  src="./assets/tarjeta_titanium_back.png" alt="tarjeta_titanium">
              </template>
              <template v-if="arrayShowCard[0].color == 'SILVER'">
                <img class="w-full h-full absolute left-0 top-0 rounded-xl shadow"
                  src="./assets/tarjeta_silver_back.png" alt="tarjeta_silver">
              </template>
              <div
                class="opacity-75 mt-14 flex relative text-2xl tracking-widest text-slate-100 font-semibold w-full ml-48 sm:ml-64">
                <p> {{arrayShowCard[0].cvv}} </p>
              </div>
            </div>
          </div>

          <div
            class="sm:w-96 w-72 sm:h-64 h-50 cursor-pointer absolute hover:opacity-0 transition ease-in-out duration-500">
            <div class="w-full relative h-full p-5">
              <template v-if="arrayShowCard[0].color == 'GOLD'">
                <img class="w-full h-full absolute left-0 top-0 rounded-xl shadow" src="./assets/tarjeta_gold.png"
                  alt="tarjeta_gold">
              </template>
              <template v-if="arrayShowCard[0].color == 'TITANIUM'">
                <img class="w-full h-full absolute left-0 top-0 rounded-xl shadow" src="./assets/tarjeta_titanium.png"
                  alt="tarjeta_titanium">
              </template>
              <template v-if="arrayShowCard[0].color == 'SILVER'">
                <img class="w-full h-full absolute left-0 top-0 rounded-xl shadow" src="./assets/tarjeta_silver.png"
                  alt="tarjeta_silver">
              </template>
              <div
                class="opacity-75 items-center mt-28 flex relative text-2xl sm:text-3xl tracking-widest	 text-slate-100 font-semibold">
                <p> {{arrayShowCard[0].number}} </p>
              </div>
              <div class="opacity-75 items-center mt-3 flex relative tracking-widest text-slate-100 font-semibold">
                <p> Valida hasta: {{arrayShowCard[0].thruDate}} </p>
              </div>
              <div class="opacity-75 items-center flex relative text-xl tracking-widest text-slate-100 font-semibold">
                <p> {{arrayShowCard[0].cardHolder}} </p>
              </div>
            </div>
          </div>

          <button @click="hideCard()"
            class="fixed bottom-3 right-3 self-end rounded-lg bg-red-400 hover:text-red-400 text-white hover:bg-transparent px-3 py-1 border-4 border-red-400 text-2xl font-semibold focus:ring-2 focus:ring-red-200 focus:outline-none transition ease-in-out duration-500">
            Salir
          </button>

        </section>
      </template>

    </main>

    <svg v-show="switchNightMode" class="transition ease-in-out duration-500 fixed bottom-0 -z-10"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#1e293b" fill-opacity="1"
        d="M0,288L24,256C48,224,96,160,144,117.3C192,75,240,53,288,85.3C336,117,384,203,432,218.7C480,235,528,181,576,186.7C624,192,672,256,720,245.3C768,235,816,149,864,144C912,139,960,213,1008,245.3C1056,277,1104,267,1152,256C1200,245,1248,235,1296,218.7C1344,203,1392,181,1416,170.7L1440,160L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z">
      </path>
    </svg>
    </svg>
    <svg v-show="!switchNightMode" class="transition ease-in-out duration-500 fixed bottom-0 -z-10 m-0"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#0ea5e9" fill-opacity="1"
        d="M0,288L24,256C48,224,96,160,144,117.3C192,75,240,53,288,85.3C336,117,384,203,432,218.7C480,235,528,181,576,186.7C624,192,672,256,720,245.3C768,235,816,149,864,144C912,139,960,213,1008,245.3C1056,277,1104,267,1152,256C1200,245,1248,235,1296,218.7C1344,203,1392,181,1416,170.7L1440,160L1440,320L1416,320C1392,320,1344,320,1296,320C1248,320,1200,320,1152,320C1104,320,1056,320,1008,320C960,320,912,320,864,320C816,320,768,320,720,320C672,320,624,320,576,320C528,320,480,320,432,320C384,320,336,320,288,320C240,320,192,320,144,320C96,320,48,320,24,320L0,320Z">
      </path>
    </svg>
    </svg>

  </div>

  <footer class="fixed bottom-0 flex flex-wrap p-1 text-slate-200 mt-24 left-1 sm:m-0">
    <a target="_blank" href="https://github.com/mauri-godoy">
      <p class="hover:-translate-y-2 hover:opacity-100 opacity-75 transition ease-in-out duration-500"><i
          class="fab fa-github"></i> GitHub </p>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/mauri-godoy1/">
      <p class="hover:-translate-y-2 hover:opacity-100 opacity-75 transition ease-in-out duration-500">&nbsp<i
          class="fab fa-linkedin"></i> Linkedin</p>
    </a>
  </footer>

  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="./js/nightMode.js"></script>
  <script src="./js/accounts.js"></script>
</body>

</html>