<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />
  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet" href="./css/style.css" />
  <title>Manager</title>
</head>

<body class="overflow-x-hidden">
  <main id="app" class="sm:grid sm:grid-cols-3 sm:gap-4">
    <form
      class="container mx-auto mt-2 p-5 flex flex-col sm:border-2 border-black rounded sm:ml-3 sm:col-span-2 sm:col-start-1">
      <h1 class="text-4xl text-center text-sky-500">Client Manager</h1>
      <label class="mt-5 mb-3" for="name">Name:</label><input v-model="newFirstName"
        class="border-b-2 border-black p-3 focus:outline-none" type="text" id="name" placeholder="Name" />
      <label class="mt-5 mb-3" for="last_name">Last name:</label><input v-model="newLastName"
        class="border-b-2 border-black p-3 focus:outline-none" type="text" id="last_name" placeholder="Last name" />
      <label class="mt-5 mb-3" for="email ">Email address:</label><input v-model="newEmail"
        class="border-b-2 border-black p-3 focus:outline-none" type="email" id="email " placeholder="Email" />
      <label class="mt-5 mb-3" for="password ">Password:</label><input v-model="newPassword"
        class="border-b-2 border-black p-3 focus:outline-none" type="password" id="password " placeholder="Password" />
      <button @click="addClient "
        class="mt-8 bg-emerald-500 hover:bg-emerald-600 rounded-lg p-3 text-white text-xl font-semibold focus:ring focus:ring-emerald-200 transition ease-in-out duration-500"
        type="button">
        Add client
      </button>
      <button type="button" @click="signOut"
        class="mt-4 bg-red-500 hover:bg-red-600 rounded-lg p-3 text-white text-xl font-semibold focus:ring focus:ring-red-200 transition ease-in-out duration-500">Cerrar
        sesión</button>
    </form>
    <form
      class="container mx-auto mt-2 p-5 flex flex-col sm:border-2 border-black rounded sm:ml-3 sm:col-span-2 sm:col-start-1">
      <h2 class="text-4xl text-center text-sky-500">Loan Manager</h2>
      <label class="mt-5 mb-3" for="loanname">Name:</label><input v-model="loanName"
        class="border-b-2 border-black p-3 focus:outline-none" type="text" id="loanname" placeholder="Name" />
      <label class="mt-5 mb-3" for="maxamount">Max amount:</label><input v-model="maxAmount"
        class="border-b-2 border-black p-3 focus:outline-none" type="number" id="maxamount" placeholder="Max amount" />
        <h3 class="mt-5">Payments</h3>
      <div class="mt-3 flex justify-around items-center">
        <label>3<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="3" id="3"></label>
        <label>6<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="6" id="6"></label>
        <label>12<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="12" id="12"></label>
        <label>18<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="18" id="18"></label>
        <label>24<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="24" id="24"></label>
        <label>30<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="30" id="30"></label>
        <label>36<input class="p-2 ml-2 rounded" type="checkbox" v-model="payments" value="36" id="36"></label>
      </div>
      <button @click="addLoan"
        class="mt-8 bg-emerald-500 hover:bg-emerald-600 rounded-lg p-3 text-white text-xl font-semibold focus:ring focus:ring-emerald-200 transition ease-in-out duration-500"
        type="button">
        Add loan
      </button>
    </form>
    <section class="container p-3 sm:p-0 mx-auto my-5 sm:ml-3 sm:col-span-2 sm:col-start-1">
      <h2 class="text-3xl">Client List</h2>
      <table class="sm:border-2 border-black rounded w-full mt-5">
        <thead>
          <tr>
            <th class="font-medium text-xs sm:text-base p-3 text-left">#</th>
            <th class="font-medium text-xs sm:text-base p-3 text-left">
              First Name
            </th>
            <th class="font-medium text-xs sm:text-base p-3 text-left">
              Last Name
            </th>
            <th class="font-medium text-xs sm:text-base p-3 text-left">
              Email
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody v-for="(client, index) in clients ">
          <tr class="border-t-2 border-black">
            <td class="p-3 text-xs sm:text-base" v-cloak>{{index + 1}}</td>
            <td class="p-3 text-xs sm:text-base" v-cloak>
              {{client.firstName}}
            </td>
            <td class="p-3 text-xs sm:text-base" v-cloak>
              {{client.lastName}}
            </td>
            <td class="p-3 text-xs sm:text-base" v-cloak>{{client.email}}</td>
            <td>
              <button type="button" @click="deleteClient(client._links.self.href)">
                <i class="far fa-trash text-sm sm:text-base p-3 text-red-400 hover:scale-110"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <section class="container my-5 p-3 sm:my-2 mx-auto sm:col-start-3 sm:row-start-1 sm:row-span-4">
      <h2 class="text-xl">Client Rest Response</h2>
      <pre class="text-sm rounded mt-5 p-1 whitespace-pre-wrap" v-cloak>
                {{response}}
            </pre>
    </section>


  </main>

  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="./js/manager.js"></script>
</body>

</html>