<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
    rel="stylesheet" />
  <link rel="stylesheet" href="./css/style.css" />
  <link rel="shortcut icon" href="./favicon.ico" />
  <title>Transacciones</title>
</head>

<body class="h-screen w-screen overflow-x-hidden bg-slate-50 transition ease-in-out duration-500">

  <div id="particles-js" class="h-screen w-screen fixed -z-10"></div>

  <div class="h-screen w-screen fixed z-50 bg-slate-50 flex justify-center items-center preloaded">
    <div class="loadingio-spinner-rolling-a0brll2sk18">
      <div class="ldio-lfdg8ky8s88">
        <div></div>
      </div>
    </div>
  </div>

  <div id="app">

    <nav class="navbar flex right-2">

      <ul class="sm:visible invisible font-medium top-4 fixed flex flex-wrap rounded text-xl items-center">
        <a v-show="!switchNightMode" href="#"> <img src="./assets/logo.png" alt="logo" class="h-8 ml-5 mt-1"></a>
        <a v-show="switchNightMode" href="#"> <img src="./assets/night_logo.png" alt="night_logo"
            class="h-8 ml-5 mt-1"></a>
        <li class="py-1 ml-2 hover:text-slate-400 hover:translate-y-1 transition ease-in-out duration-500 text-night">
          <a href="./accounts.html" class="p-4"> inicio </a>
        </li>
        <li class="py-1 hover:text-slate-400 hover:translate-y-1 transition ease-in-out duration-500 text-night">
          <a href="./payment.html" class="p-4"> realizar pago </a>
        </li>
      </ul>

      <div class="sm:invisible visible flex flex-col ml-2 fixed top-1">
        <button @click="showToggle"
          class="self-start border-4 my-1 px-2 rounded-md text-2xl menu-night transition ease-in-out duration-500">
          <i class="fas fa-bars"></i>
        </button>
        <div
          class="nav-menu invisible opacity-0 rounded-md text-md border-4 night_border-slate-600 transition ease-in-out duration-500">
          <ul>
            <li
              class="hover:bg-slate-600 py-1 night_text-slate-600 night_bg-white hover:text-white transition ease-in-out duration-500">
              <a href="./accounts.html" class="p-4"> inicio </a>
            </li>
            <li
              class="hover:bg-slate-600 py-1 night_text-slate-600 night_bg-white hover:text-white transition ease-in-out duration-500">
              <a href="./payment.html" class="p-4"> realizar pago </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="flex flex-col fixed sm:top-3 top-1 sm:right-5 right-1">
        <button @click="showUser"
          class="self-end my-1 px-2 rounded-full text-2xl transition border-4 ease-in-out duration-500 menu-night">
          <i class="fas fa-user"></i>
        </button>
        <div
          class="mt-1 nav-menu-user invisible right-400 opacity-0 rounded-md border-4 night_border-slate-600 text-center transition ease-in-out duration-500 animation ">
          <ul>
            <li class="px-5 pt-2 text-5xl night_bg-slate-600 text-white font-medium">
              <i class="fas fa-user"></i>
            </li>
            <li class="px-3 text-md night_bg-slate-600 text-white font-semibold">
              {{owner.firstName}} {{owner.lastName}}
            </li>
            <li class="text-sm px-2 pb-2 night_bg-slate-600 text-white">
              {{owner.email}}
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./accounts.html" class="p-3">Cuentas</a>
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./cards.html" class="p-3">Tarjetas</a>
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./transactions.html" class="p-3">Transacciones</a>
            </li>
            <li
              class="border-2 p-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-slate-600 transition ease-in-out duration-500">
              <a href="./loans.html" class="p-3">Prestamos</a>
            </li>
            <li>
              <button @click="signOut"
                class="p-2 w-full border-2 night_border-slate-600 hover:border-white text-sm night_bg-white night_text-slate-600 hover:text-white hover:bg-red-400 transition ease-in-out duration-500"
                type="button">Cerrar sesión</button>
            </li>
          </ul>
        </div>
      </div>

      <div id="nightMode" class="z-30 sm:top-3 top-1 fixed sm:right-20 right-16">
        <button v-show="!switchNightMode" @click="activeNightMode"
          class="border-4 border-sky-500 my-1 px-2 rounded-full text-2xl text-sky-500 bg-white hover:bg-sky-500 hover:text-white transition ease-in-out duration-500">
          <i class="fas fa-moon"></i>
        </button>

        <button v-show="switchNightMode" @click="activeNightMode"
          class="z-50 border-4 border-emerald-400 my-1 px-2 rounded-full text-2xl text-emerald-400 hover:bg-emerald-400 hover:text-white transition ease-in-out duration-500">
          <i class="fas fa-sun"></i>
        </button>

      </div>
    </nav>

    <main class="w-screen flex justify-around h-11/12 md:flex-nowrap flex-wrap">

      <section class="mt-24 mx-8  self-start  w-96 animation">

        <div class="w-full">
          <select name="cuenta" id="cuenta" class="text-night-white bg-night w-full p-1 rounded my-2 border"
            v-model="indexAccount" v-on:change="loadData">
            <option v-for="(account, index) in accounts" v-bind:value="index">{{account.number}}</option>
          </select>
        </div>

        <div class="w-full h-full border rounded bg-night-slate shadow p-2">
          <h2 class="text-2xl text-white text-center font-semibold p-2" v-cloak>
            Cuenta: {{accountSelected.number}} <i v-show="accountSelected.balance < 1000"
              class="fas fa-exclamation warning"></i></h2>
          <p class="text-xl text-center text-white p-2 border-t border-white v-cloak">Balance:
            ${{format(accountSelected.balance - amount)}} <button v-show="!switchForm" class="border rounded mx-2 px-2"
              title="Realizar una transacción" @click="switchForm = !switchForm" type="button"><i
                class="fas fa-plus"></i></button>
          </p>
        </div>

        <div class="w-full h-full border p-3 rounded my-2 animation bg-night" v-show="switchForm">

          <select name="destinatario" id="destinatario" class="w-full text-night-white bg-night p-1 rounded my-2 border"
            v-model="selectCuenta" v-on:change="loadData">
            <option value="propia">Cuenta propia</option>
            <option value="tercero">Cuenta de tercero</option>
          </select>

          <select v-show="selectCuenta == 'propia'" name="cuentas" id="cuentas"
            class="w-full text-night-white bg-night p-1 rounded my-2 border" v-model="ownAccount">
            <option value="select" v-show="ownAccount == 'select'">Seleccione una cuenta</option>
            <option v-for="account in accounts" v-bind:value="account.number"
              v-show="account.number != accountSelected.number">{{account.number}}</option>
            <option v-for="account in accounts" v-bind:value="account.number"
              v-show="account.number == accountSelected.number" disabled>{{account.number}}</option>
          </select>

          <div v-show="selectCuenta != 'propia'" class="flex justify-between flex-wrap items-center">
            <label for="number" class="text-night-white">Cuenta</label>
            <input type="text" id="number" class="text-night-white bg-night border rounded p-1 my-2"
              placeholder="numero de cuenta" v-model="anotherAccount" v-on:change="getOwnerAccount">
          </div>

          <div class="flex justify-between flex-wrap items-center">
            <label for="description" class="text-night-white">Descripción
            </label> <input type="text" id="description" class="text-night-white bg-night border rounded p-1 my-2"
              placeholder="descripción" v-model="description">
          </div>

          <div class="flex justify-between flex-wrap items-center">
            <label for="amount" class="text-night-white">Monto </label><input type="number" id="amount"
              class="text-night-white bg-night border rounded p-1 my-2" placeholder="monto" v-model="amount">
          </div>

          <div class="w-full flex justify-between">

            <button type="button" @click="addTransaction()"
              class="w-full btn rounded-lg mt-4 border-2 night_text-slate-to-emerald night_border-slate-to-emerald night_hover-bg-slate-to-emerald hover:text-white p-1  text-xl focus:ring-2 focus:ring-slate-600 focus:outline-none transition ease-in-out duration-500">Realizar
              transferencia {{destinationAccountOwner}}</button>

            <button type="button" @click="switchForm = !switchForm; loadData()"
              class=" btn rounded-lg mt-4 ml-2 border-2 text-red-400 border-red-400 hover:bg-red-400 hover:text-white p-1  text-xl focus:ring-2 focus:ring-red-600 focus:outline-none transition ease-in-out duration-500"><i
                class="fas fa-undo"></i></button>
          </div>

        </div>
      </section>

      <div class="w-full sm:w-7/12">
        <section class="rounded my-8 sm:mt-20 md:mr-3 mx-auto sm:border bg-night shadow w-10/12 sm:w-full">
          <h1 class="text-2xl night_text-sky-to-white text-center font-semibold p-1 animation">Transacciones</h1>

          <div class="overflow-y-auto h-96">
            <div class="card-container" v-for="transaction in transactions">
              <template v-if="transaction.type == 'CREDIT'">
                <div class="card flex align-left p-3 border-t bg-night-emerald text-night-white justify-between">
                  <p class="p-3 w2/6" v-cloak>{{transaction.description}} </p>
                  <div>
                    <p class="p-1 sm:p-3 w2/6 text-right" v-cloak>${{format(transaction.amount)}} </p>
                    <p class="p-1 sm:p-3 w2/6 text-sm" v-cloak>{{transaction.date}}</p>
                  </div>
                </div>
              </template>
              <template v-if="transaction.type == 'DEBIT'">
                <div class="card flex p-3 border-t bg-night-red text-night-white justify-between">
                  <p class="p-1 sm:p-3 w2/6" v-cloak> {{transaction.description}} </p>
                  <div>
                    <p class="p-1 sm:p-3 w2/6 text-right" v-cloak>- ${{format(transaction.amount)}} </p>
                    <p class="p-1 sm:p-3 w2/6 text-sm" v-cloak>{{transaction.date}}</p>
                  </div>
                </div>
              </template>
            </div>
            <template v-if="!transactions.length">
              <p class="p-3 border-t text-center text-slate-500 animation">Todavía no ha realizado ninguna transacción
                en
                esta cuenta</p>
            </template>
          </div>

        </section>
      </div>

    </main>

    <svg v-show="switchNightMode" class="transition ease-in-out duration-500 fixed bottom-0 -z-10"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#1e293b" fill-opacity="1"
        d="M0,128L60,117.3C120,107,240,85,360,117.3C480,149,600,235,720,234.7C840,235,960,149,1080,138.7C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
      </path>
    </svg>
    <svg v-show="!switchNightMode" class="transition ease-in-out duration-500 fixed bottom-0 -z-10 m-0"
      xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#0ea5e9" fill-opacity="1"
        d="M0,128L60,117.3C120,107,240,85,360,117.3C480,149,600,235,720,234.7C840,235,960,149,1080,138.7C1200,128,1320,192,1380,224L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
      </path>
    </svg>

  </div>

  <footer class="fixed bottom-0 flex flex-wrap p-1 text-slate-200 mt-24 left-1 sm:m-0">
    <a target="_blank" href="https://github.com/mauri-godoy">
      <p class="hover:-translate-y-2 hover:opacity-100 opacity-75 transition ease-in-out duration-500"><i
          class="fab fa-github"></i> GitHub </p>
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/mauri-godoy1/">
      <p class="hover:-translate-y-2 hover:opacity-100 opacity-75 transition ease-in-out duration-500">&nbsp<i
          class="fab fa-linkedin"></i> Linkedin</p>
    </a>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="./js/nightMode.js"></script>
  <script src="./js/transactions.js"></script>
</body>

</html>